<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../src/App.css" />
</head>

<body>
  <div class="body">
    <div class="login-box pass">
      <h2>Add Appointment</h2>
      <form>
        <div class="user-box">
          <input class="input" type="text" name="" required="" />
          <label>Worker name</label>
        </div>
        <div class="alignment">
          <label>Appointment Speciality</label>
          <br />
          <div class="specialities">
            <div><input type="checkbox" /><span> Electricity</span></div>
            <div><input type="checkbox" /><span> Electricity</span></div>
            <div><input type="checkbox" /><span> Electricity</span></div>
          </div>
          <div class="specialities">
            <div><input type="checkbox" /><span> Electricity</span></div>
            <div><input type="checkbox" /><span> Electricity</span></div>
            <div><input type="checkbox" /><span> Electricity</span></div>
          </div>
          <div class="specialities">
            <div><input type="checkbox" /><span> Electricity</span></div>
            <div><input type="checkbox" /><span> Electricity</span></div>
            <div><input type="checkbox" /><span> Electricity</span></div>
          </div>
          <br />
          <div class="alignment">
            <label>Appointment Time</label>
            <input type="date" id="Appointment_Time" name="Appointment_Time" />
          </div>
        </div>

        <div class="save">
          <span class="a" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Save
          </span>
          <span class="a" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cancel
          </span>
        </div>
      </form>
    </div>
  </div>
</body>

</html>