<!DOCTYPE html>
<html style="height: 1000px;" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../styles.css" /> -->
  <link rel="stylesheet" href="../../src/App.css" />
</head>

<body>
  <nav class="white">
    <div class="parts">
      <h1 class="logo"><span>W</span>arsha</h1>
    </div>
    <div class="parts">
      <div><a href="">Home</a></div>
      <div><a href="">About us</a></div>
      <div><a href="">Contact us</a></div>
      <div class="navUser">fName</div>
    </div>
  </nav>

  <div class="tab">
    <button class="tabLinks active">
      Profile
    </button>
    <button class="tabLinks">Appointments</button>
  </div>

  <div class="tabContent">
    <h3 class="tabContentTitle">Profile</h3>
    <div class="profile-center-details">
      <div class="div1-3">
        <div class="name-img">
          <img class="center-img" src="../../public/assets/mechanistic.jpg" />
          <p class="profile-center-name">Center El Yosr</p>
        </div>
        <div class="phone-address">
          <p>25 yemen street, yemen</p>
          <p>02-24254547</p>
          <p>On location service</p>
        </div>
      </div>
      <div class="div2-3">
        <table class="center-table">
          <tr class="tr-center">
            <th>Profile views</th>
            <th>Bookings</th>
          </tr>
          <tr class="tr-center">
            <td class="td-center">2500</td>
            <td class="td-center">100</td>
          </tr>
        </table>
      </div>
      <div class="div3-3">
        <p class="reviews">73 Reviews</p>
        <button class="share-Prof">Share Profile</button>
      </div>
    </div>
    <div class="options">
      <div class="option active">Center Info</div>
      <div class="option">Reviews</div>
    </div>
    <div class="profile-center-info">
      <div>About</div>
      <br />
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat atque vel eligendi libero voluptatibus
        magni id, saepe illo tempore corrupti enim maiores ex cupiditate repellendus reiciendis suscipit blanditiis
        rerum?
      </div>
    </div>
    <div class="profile-center-info">
      <div>Speciality</div>
      <br />
      <div class="specialities">
        <div><input type="checkbox" /><span> Electricity</span></div>
        <div><input type="checkbox" /><span> Electricity</span></div>
        <div><input type="checkbox" /><span> Electricity</span></div>
      </div>
      <div class="specialities">
        <div><input type="checkbox" /><span> Electricity</span></div>
        <div><input type="checkbox" /><span> Electricity</span></div>
        <div><input type="checkbox" /><span> Electricity</span></div>
      </div>
      <div class="specialities">
        <div><input type="checkbox" /><span> Electricity</span></div>
        <div><input type="checkbox" /><span> Electricity</span></div>
        <div><input type="checkbox" /><span> Electricity</span></div>
      </div>
    </div>
    <div class="profile-center-info">
      <div>Car Models</div>
      <br />
      <div class="specialities">
        <div><input type="checkbox" /><span> Chevrolet</span></div>
        <div><input type="checkbox" /><span> Chevrolet</span></div>
        <div><input type="checkbox" /><span> Chevrolet</span></div>
      </div>
      <div class="specialities">
        <div><input type="checkbox" /><span> Chevrolet</span></div>
        <div><input type="checkbox" /><span> Chevrolet</span></div>
        <div><input type="checkbox" /><span> Chevrolet</span></div>
      </div>
      <div class="specialities">
        <div><input type="checkbox" /><span> Chevrolet</span></div>
        <div><input type="checkbox" /><span> Chevrolet</span></div>
        <div><input type="checkbox" /><span> Chevrolet</span></div>
      </div>
    </div>
  </div>
</body>

</html>