<!DOCTYPE html>
<html style="height: 1000px;" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="tab">
      <button class="tablinks active">
        Profile
      </button>
      <button class="tablinks">Appointments</button>
    </div>

    <div class="tabcontent">
      <h3>Profile</h3>
      <div class="center-details">
        <div class="div1-3">
          <div class="name-img">
            <img class="center-img" src="./imgs//right-section-image.jpg" />
            <p>Center El Yosr</p>
          </div>
          <div class="phone-address">
            <p>25 yemen street, yemen</p>
            <p>02-24254547</p>
            <p>On location service</p>
          </div>
        </div>
        <div class="div2-3">
          <table class="center-table">
            <tr class="tr-center">
              <th>Profile views</th>
              <th>Bookings</th>
            </tr>
            <tr class="tr-center">
              <td class="td-center">2500</td>
              <td class="td-center">100</td>
            </tr>
          </table>
        </div>
        <div class="div3-3">
          <p class="reviews">73 Reviews</p>
          <button class="button share-Prof">Share Profile</button>
        </div>
      </div>
      <div class="options">
        <div class="option active">Center Info</div>
        <div class="option">Reviews</div>
      </div>
      <div class="center-info">
        <div>About</div>
        <br />
        <div>
          hgdhgdeffgrhbfrhbrhgbreyghrbbghtjrbhbghfjgjfbnghjbgffjbnfjbgfjfbghbrnfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
        </div>
      </div>
      <div class="center-info">
        <div>Speciality</div>
        <br />
        <div class="specialities">
          <div><input type="checkbox" /><span> Electricity</span></div>
          <div><input type="checkbox" /><span> Electricity</span></div>
          <div><input type="checkbox" /><span> Electricity</span></div>
        </div>
        <div class="specialities">
          <div><input type="checkbox" /><span> Electricity</span></div>
          <div><input type="checkbox" /><span> Electricity</span></div>
          <div><input type="checkbox" /><span> Electricity</span></div>
        </div>
        <div class="specialities">
          <div><input type="checkbox" /><span> Electricity</span></div>
          <div><input type="checkbox" /><span> Electricity</span></div>
          <div><input type="checkbox" /><span> Electricity</span></div>
        </div>
      </div>
      <div class="center-info">
        <div>Car Models</div>
        <br />
        <div class="specialities">
          <div><input type="checkbox" /><span> Chevrolet</span></div>
          <div><input type="checkbox" /><span> Chevrolet</span></div>
          <div><input type="checkbox" /><span> Chevrolet</span></div>
        </div>
        <div class="specialities">
          <div><input type="checkbox" /><span> Chevrolet</span></div>
          <div><input type="checkbox" /><span> Chevrolet</span></div>
          <div><input type="checkbox" /><span> Chevrolet</span></div>
        </div>
        <div class="specialities">
          <div><input type="checkbox" /><span> Chevrolet</span></div>
          <div><input type="checkbox" /><span> Chevrolet</span></div>
          <div><input type="checkbox" /><span> Chevrolet</span></div>
        </div>
      </div>
    </div>
  </body>
</html>
