<!DOCTYPE html>
<html style="height: 200%;" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" />
  <link rel="stylesheet" href="../../src/App.css" />
  <title>Document</title>

</head>

<body>
  <div class="tab">
    <button class="tablinks active">
      Profile
    </button>
    <button class="tablinks">Appointments</button>
  </div>
  <div class="tabcontent">
    <h3>Profile</h3>
    <div class="center-details">
      <div class="div1-3">
        <div class="name-img">
          <img class="center-img" src="./imgs//right-section-image.jpg" />
          <p>Center El Yosr</p>
        </div>
        <div class="phone-address">
          <p>25 yemen street, yemen</p>
          <p>02-24254547</p>
          <p>On location service</p>
        </div>
      </div>
      <div class="div2-3">
        <table class="center-table">
          <tr class="tr-center">
            <th>Profile views</th>
            <th>Bookings</th>
          </tr>
          <tr class="tr-center">
            <td class="td-center">2500</td>
            <td class="td-center">100</td>
          </tr>
        </table>
      </div>
      <div class="div3-3">
        <p class="reviews">73 Reviews</p>
        <button class="button share-Prof">Share Profile</button>
      </div>
    </div>
    <div class="options">
      <div class="option ">Center Info</div>
      <div class="option active">Reviews</div>
    </div>
    <div class="center-info center-reviews">
      <div><img class="circle" src="./imgs/right-section-image.jpg" /></div>
      <div class="flex-col">
        <div>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
        </div>
        <div class="wrap">
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
        </div>
      </div>
    </div>
    <div class="center-info center-reviews">
      <div><img class="circle" src="./imgs/right-section-image.jpg" /></div>
      <div class="flex-col">
        <div>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
        </div>
        <div class="wrap">
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
        </div>
      </div>
    </div>
    <div class="center-info center-reviews">
      <div><img class="circle" src="./imgs/right-section-image.jpg" /></div>
      <div class="flex-col">
        <div>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
          <span><i class="fas fa-star"></i></span>
        </div>
        <div class="wrap">
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
          gfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgdfdgvgdhhbfhbfgbnmbgfmdvdfvbnhbnhgddhhbfhbfgbnmbgfmdvdfvbnhbnhgd
        </div>
      </div>
    </div>
  </div>
</body>

</html>