<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../style.css">
    <title>Appointments List</title>
</head>
<body>
    <div class="container m-5 p-5 d-flex justify-content-between">
        <div class="appointments-tabs div-border">
            <ul>
                <li class="selected-tab">Current 
                    Appointments
                </li>
                <hr class="m-0">
                <li>Previous 
                    Appointments
                </li>
            </ul>
        </div>
        <div class="div-border appointments-table-container">
            <table id="appointments-table">
                <tr class="appointments-day">
                    <td>
                        <span>
                            Today
                        </span>
                        <br/>
                        7 May
                    </td>
                    <td>
                        3 Bookings
                    </td>
                    <td>
                        All Confirmed
                    </td>
                </tr>
                <tr class="appointments-day">
                    <td>
                        <span>
                            Tomorrow
                        </span>
                        <br/>
                        8 May
                    </td>
                    <td>
                        2 Bookings
                    </td>
                    <td>
                        1 Booking Left
                    </td>
                </tr>
                <tr class="appointments-day">
                    <td>
                        <span>
                            Saturday
                        </span>
                        <br/>
                        9 May
                    </td>
                    <td>
                        No Bookings
                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="appointments-day">
                    <td>
                        <span>
                            Sunday
                        </span>
                        <br/>
                        10 May
                    </td>
                    <td>
                        4 Bookings
                    </td>
                    <td>
                        2 Bookings Left
                    </td>
                </tr>
                <tr class="appointments-day">
                    <td>
                        <span>
                            Monday
                        </span>
                        <br/>
                        11 May
                    </td>
                    <td>
                        2 Bookings
                    </td>
                    <td>
                        Not Confirmed
                    </td>
                </tr>
                <tr class="appointments-day">
                    <td>
                        <span>
                            Tuesday
                        </span>
                        <br/>
                        12 May
                    </td>
                    <td>
                        1 Booking
                    </td>
                    <td>
                        All Confirmed
                    </td>
                </tr>
                <tr class="appointments-day">
                    <td>
                        <span>
                            Wednesday 
                        </span>
                        <br/>
                        13 May
                    </td>
                    <td>
                        No Bookings
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>