<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" />
  <link rel="stylesheet" href="../../src/App.css" />
  <title>Current Appointments Day</title>
</head>

<body>
  <div class="container m-5 p-5 d-flex justify-content-between">
    <!-- Appointment Status Start -->
    <div class="appointments-status div-border">
      <ul>
        <li class="selected-tab">All</li>
        <hr class="m-0" />
        <li><i class="fas fa-check-square"></i> Confirmed</li>
        <hr class="m-0" />
        <li><i class="fas fa-times-circle"></i> Not Confirmed</li>
        <hr class="m-0" />
        <li><i class="fas fa-user-check"></i> Checked In</li>
        <hr class="m-0" />
        <li><i class="fas fa-eye-slash"></i> No Show</li>
        <hr class="m-0" />
        <li><i class="fas fa-exclamation-circle"></i> No Action</li>
      </ul>
    </div>
    <!-- Appointment Status End -->

    <!-- Day Appointments List Start -->
    <div class="div-border day-appointments-list">
      <!-- Client Appointment Start -->
      <div class="d-flex justify-content-between client-appointment">
        <!-- Appointment Cliend Card Start -->
        <div class="appointment-client-card">
          <div class="appointment-client-details">
            <span>
              Mona Mohamed
            </span>
            <span>
              12:00 PM
            </span>
          </div>
          <div class="client-card-btns d-flex">
            <button>
              <!-- <i class="fas fa-user-check"></i> Checked In Icon -->
              <i class="fas fa-user-cog"></i>
              Check In
            </button>
            <button>
              <!-- <i class="fas fa-eye-slash"></i> Not Showed Icon -->
              <i class="fas fa-eye"></i>
              No Show
            </button>
          </div>
        </div>
        <!-- Appointment Cliend Card End -->
        <button>
          Confirm Booking
        </button>
      </div>
      <!-- Client Appointment End -->
      <!-- Client Appointment Start -->
      <div class="d-flex justify-content-between client-appointment">
        <!-- Appointment Client Card Start -->
        <div class="appointment-client-card">
          <div class="appointment-client-details">
            <span>
              Mona Mohamed
            </span>
            <span>
              01:00 PM
            </span>
          </div>
          <div class="client-card-btns d-flex">
            <button>
              <i class="fas fa-user-cog"></i>
              Check In
            </button>
            <button>
              <i class="fas fa-eye"></i>
              No Show
            </button>
          </div>
        </div>
        <!-- Appointment Client Card End -->
        <button>Confirmed <i class="fas fa-check-square pl-3"></i></button>
      </div>
      <!-- Client Appointment End -->
      <!-- Client Appointment Start -->
      <div class="d-flex justify-content-between client-appointment">
        <!-- Appointment Cliend Card Start -->
        <div class="appointment-client-card">
          <div class="appointment-client-details">
            <span>
              Mona Mohamed
            </span>
            <span>
              02:00 PM
            </span>
          </div>
          <div class="client-card-btns d-flex">
            <button>
              <i class="fas fa-user-cog"></i>
              Check In
            </button>
            <button>
              <i class="fas fa-eye"></i>
              No Show
            </button>
          </div>
        </div>
        <!-- Appointment Cliend Card End -->
        <button>
          Confirm Booking
        </button>
      </div>
      <!-- Client Appointment End -->
      <!-- Client Appointment Start -->
      <div class="d-flex justify-content-between client-appointment">
        <!-- Appointment Cliend Card Start -->
        <div class="appointment-client-card">
          <div class="appointment-client-details">
            <span>
              Mona Mohamed
            </span>
            <span>
              03:00 PM
            </span>
          </div>
          <div class="client-card-btns d-flex">
            <button>
              <i class="fas fa-user-cog"></i>
              Check In
            </button>
            <button>
              <i class="fas fa-eye"></i>
              No Show
            </button>
          </div>
        </div>
        <!-- Appointment Cliend Card End -->
        <button>Confirmed <i class="fas fa-check-square pl-3"></i></button>
      </div>
      <!-- Client Appointment End -->
    </div>
    <!-- Day Appointments List End -->
  </div>
</body>

</html>