<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../src/App.css" />
</head>

<body>
  <div class="body">
    <div class="login-box pass">
      <h2>Add Review</h2>
      <form>
        <div class="user-box">
          <input class="input" type="text" name="" required="" />
          <label>Center Name</label>
        </div>
        <div class="user-box">
          <input class="input" type="text" name="" required="" />
          <label>Worker Name</label>
        </div>
        <div class="user-box">
          <label>Your Review</label>
          <br />
          <br />
          <textarea style="resize: none;" class="input" type="text" name="" required=""></textarea>
        </div>
        <div class="user-box">
          <label>Rating</label>
          <div>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
          </div>
        </div>
        <div class="save">
          <span class="a" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Save
          </span>
          <span class="a" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cancel
          </span>
        </div>
      </form>
    </div>
  </div>
</body>

</html>