<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../style.css">
    <title>Center Page</title>
</head>

<body>
    <nav class="white">
        <div class="parts">
            <h1 class="logo"><span>W</span>arsha</h1>
        </div>
        <div class="parts">
            <div><a href="">Home</a></div>
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
            <div class="navUser">fName</div>
        </div>
    </nav>
    <!-- Center Details Page Start -->
    <section class="d-flex justify-content-around center-details-container">
        <!-- Center Details Start -->
        <div class="center-details">

            <!-- Center Basic Details Start -->
            <div class="center-basic-details d-flex justify-content-around b-radius-10 div-border">
                <!-- Center Image Start -->
                <div class="center-details-img-container">
                    <img src="../../public/assets/mechanistic.jpg" alt="" class="center-details-img img-circle" />
                </div>
                <!-- Center Image End -->

                <div class="center-basic-info">
                    <span class="d-flex justify-content-between mb-3">
                        <!-- Center Name Start -->
                        <span class="center-basic-name">
                            Center Bla Bla
                        </span>
                        <!-- Center Name End -->

                        <!-- No. Of Views Start -->
                        <span class="no-of-views">
                            279 View(s)
                        </span>
                        <!-- No. Of Views End -->
                    </span>

                    <!-- Center speciality Start -->
                    <h6 class="center-speciality">
                        Speciality Of Electricity & Mechanic
                    </h6>
                    <!-- Center speciality End -->

                    <!-- Center Ratings Start -->
                    <div class="center-ratings">
                        <!-- Ratings Start -->
                        <span class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                        </span>
                        <!-- Ratings End -->

                        <!-- No. Of Reviews Start -->
                        <span class="no-of-reviews">
                            Overall Ratings From 255 Visitors
                        </span>
                        <!-- No. Of Reviews End -->

                        <!-- Reviews Link Start -->
                        <a href="" class="reviews-link">Show All Reviews</a>
                        <!-- Reviews Link End -->
                    </div>
                    <!-- Center Ratings Start -->

                    <!-- Most Recent Review Start -->
                    <div class="most-recent-review">
                        <p class="most-recent-review-content"> "Good place, good services, nice people"</p>
                        <!-- Ratings Start -->
                        <span class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        <!-- Ratings End -->
                        <span class="most-recent-review-date">Sunday, 20 September 2020</span>
                    </div>
                    <!-- Most Recent Review End -->
                </div>
            </div>
            <!-- Center Basic Details End -->

            <!-- Center About Start -->
            <div class="center-about b-radius-10 div-border">
                <!-- About Title Start -->
                <div class="title-about-title">
                    <i class="fas fa-info-circle"></i>
                    <span class="about-title">
                        About The Center
                    </span>
                </div>
                <!-- About Title End -->

                <!-- About Conent Start -->
                <div class="about-conent">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum repellat atque vel eligendi
                        libero voluptatibus magni id, saepe illo tempore corrupti enim maiores ex cupiditate repellendus
                        reiciendis suscipit blanditiis rerum?
                    </p>
                </div>
                <!-- About Conent End -->
            </div>
            <!-- Center About End -->

            <!-- Center Services Start -->
            <div class="center-services b-radius-10 div-border">
                <!-- Services Title Start -->
                <div class="title-services-title">
                    <i class="fas fa-tools"></i>
                    <span class="services-title">
                        Center Services
                    </span>
                </div>
                <!-- Services Title End -->

                <!-- Services Conent Start -->
                <div class="services-conent">
                    <span class="service-tag">Electrical</span>
                    <span class="service-tag">Mechanic</span>
                    <span class="service-tag">Stereo</span>
                    <span class="service-tag">Wheels</span>
                    <span class="service-tag">Doors</span>
                    <span class="service-tag">Bla Bla</span>
                    <span class="service-tag">Blaaaa</span>
                </div>
                <!-- Services Conent End -->
            </div>
            <!-- Center Services End -->

            <!-- Remember to add reviews here -->
        </div>
        <!-- Center Details End -->

        <!-- Booking Info Start -->
        <div class="booking-info b-radius-10 div-border">
            <p class="booking-info-title">Booking Information</p>
            <div>
                <p class="text-center">Book Appointment</p>
            </div>
            <div class="pt-3 px-4 pb-4 bg-booking-info">
                <div class="title-subaddress">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="subaddress">
                        New Cairo: Southeren Teseen
                    </span>
                </div>

                <div>
                    <p class="pl-4">
                        Book now to receive the center’s address details and
                        phone number
                    </p>
                </div>
            </div>

            <!-- Booking Form Start -->
            <!-- <form>
                <h6 class="text-center pt-3">Enter Your Info.</h6>
                <p class="text-center">Tomorrow 15 June - 12:45 PM</p>

                <div class="appointment-form-input-container">
                    <i class="fas fa-user-alt"></i>
                    <input type="text" name="clientName" id="clientName" value="Mona" placeholder="Full Client Name"/>
                </div>
            
                <div class="appointment-form-input-container">
                    <i class="fas fa-phone-alt"></i>
                    +2<input type="text" class="appointment-form-input" name="clientNumber" id="clientNumber" value="01156492345" placeholder="Mobile Number"/>
                </div>

                <div class="appointment-form-input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="email" class="appointment-form-input" name="clientEmail" id="clientEmail" value="sydeny254@gmail.com" placeholder="Email Address (Optional)"/>
                </div>

                <div class="appointment-form-checkbox">
                    <input type="checkbox" name="anotherClient" id="anotherClient"/> 
                    I'm looking on behalf of another client.
                </div>
                
                <div class="d-flex justify-content-between appointment-btns"> 
                    <button type="submit" class="submit-appointment-form">Book</button>
                    <button type="button" class="cancel-appointment-form">Cancel</button>
                </div>
            </form> -->
            <!-- Booking Form Start -->

            <!-- Booking Appointments Start -->
            <div class="booking-appointments">
                <p class="booking-appointments-title">
                    Choose Your Appointment
                </p>
                <div class="border-y d-flex justify-content-between appoitments-content">
                    <div class="arrow">
                        <button>
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="appointment-board">
                        <p class="booking-day">Today</p>
                        <ul class="appointments-times">
                            <li>Not Available</li>
                        </ul>
                        <button class="booking-btn">Book</button>
                    </div>
                    <div class="appointment-board">
                        <p class="booking-day">Tomorrow</p>
                        <ul class="appointments-times">
                            <li>12:00 PM</li>
                            <li><del>01:00 PM</del></li>
                            <li>03:00 PM</li>
                            <li><del>05:00 PM</del></li>
                            <li>More</li>
                        </ul>
                        <button class="booking-btn">Book</button>
                    </div>
                    <div class="appointment-board">
                        <p class="booking-day">Wed 06/5</p>
                        <ul class="appointments-times">
                            <li>12:00 PM</li>
                            <li><del>01:00 PM</del></li>
                            <li>03:00 PM</li>
                            <li><del>05:00 PM</del></li>
                            <li>More</li>
                        </ul>
                        <button class="booking-btn">Book</button>
                    </div>
                    <div class="arrow">
                        <button>
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="pt-3 px-5 d-flex justify-content-between">
                    <div class="width20 pl-5">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                    <div>
                        <p class="subaddress mb-0">
                            Book Online, Pay at the center!
                        </p>
                        <p class="pl-3">
                            Center requires reservation!
                        </p>
                    </div>
                </div>
            </div>
            <!-- Booking Appointments End -->
        </div>
        <!-- Booking Info End -->
    </section>
    <!-- Center Details Page End -->

</body>

</html>