<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="body">
      <div class="content">
        <div>Profile</div>
        <div>My Appointemets</div>
        <div class="active">Change Password</div>
      </div>
      <div class="login-box pass">
        <h2>Change Password</h2>
        <form>
          <div class="user-box">
            <input class="input" type="text" name="" required="" />
            <label>Password</label>
          </div>
          <div class="user-box">
            <input class="input" type="text" name="" required="" />
            <label>New Password</label>
          </div>
          <div class="save">
            <span class="a" href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Save
            </span>
            <span class="a" href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Cancel
            </span>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
