<!DOCTYPE html>
<html class="html" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div class="body">
      <div class="content">
        <div class="active">Profile</div>
        <div>My Appointemets</div>
        <div>Change Password</div>
      </div>
      <div class="login-box top-space">
        <h2>Manage profile</h2>
        <form>
          <div class="user-box">
            <input class="input" type="text" name="" required="" />
            <label>Username</label>
          </div>
          <div class="user-box">
            <input class="input" type="email" name="" required="" />
            <label>Email</label>
          </div>
          <div class="user-box">
            <input class="input" type="text" name="" required="" />
            <div class="position">
              <select class="option-styling">
                <option>Country</option>
                <option>Unitd kingdom</option>
                <option>United States</option>
                <option>Beru</option>
              </select>
              <select class="option-styling">
                <option>City</option>
                <option>Unitd kingdom</option>
                <option>United States</option>
                <option>Beru</option>
              </select>
              <select class="option-styling">
                <option>Area</option>
                <option>Unitd kingdom</option>
                <option>United States</option>
                <option>Beru</option>
              </select>
            </div>
            <label>Address</label>
          </div>
          <br />
          <div class="user-box">
            <label>Car details</label>
            <br />
            <br />
            <div class="position">
              <input
                class="dimensions"
                placeholder="Brand"
                type="text"
                name=""
                required=""
              />
              <input
                class="dimensions"
                placeholder="Model"
                type="text"
                name=""
                required=""
              />
              <input
                class="dimensions"
                placeholder="Year"
                type="text"
                name=""
                required=""
              />
            </div>
          </div>

          <div class="save">
            <span class="a" href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Save
            </span>
            <span class="a" href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Cancel
            </span>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
