<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="contWrap">
        <a href="#" class="logo animation a1"><span>W</span>arsha</a>
        <form class="form animation a1">
            <h2 class="lFTitle animation a1">Contact us</h2>
            <p>Fill this form, so we could contact you as soon as possible</p>
            <div style="display: flex;">
                <div class="labels">
                    <label for="name">Your Name</label>
                    <label for="number">Phone Number</label>
                    <label for="email">Email Address</label>
                    <label for="comment">Comment</label>
                </div>
                <div class="form">
                    <input type="text" name="name" id="name" placeholder="Full Name" class="form-field animation a2"
                        autofocus />

                    <input type="text" name="number" id="number" placeholder="+20 123 45678910"
                        class="form-field animation a3" />

                    <input type="email" name="email" id="email" placeholder="example@domain.com"
                        class="form-field animation a4" />

                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-field animation a5"></textarea>
                </div>
            </div>

            <button class="formBtn animation a6">SEND</button>
        </form>
    </div>
</body>

</html>