<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="../esStyle.css">
</head>

<body>
    <div class="form1Wrap">
        <h1 class="logo animation a1"><span>W</span>arsha</h1>
        <h2 class="animation a1"> Welcome to our website !</h2>
        <p class="let animation a1">Let’s start with your profile and car information.</p>

        <!-- TODO User Car info -->
        <form class="form animation a2">

            <label for="brand" class="animation a2"></label>
            <select name="brand" id="brand" class="form-field animation a2" autofocus>
                <option value="">Select your car brand (e.g. Ford)</option>
                <option value=" abarth">Abarth</option>
                <option value="alfa-romeo">Alfa Romeo</option>
                <option value="asia-motors">Asia Motors</option>
                <option value="aston-martin">Aston Martin</option>
                <option value="audi">Audi</option>
                <option value="austin">Austin</option>
                <option value="autobianchi">Autobianchi</option>
                <option value="bentley">Bentley</option>
                <option value="bmw">BMW</option>
                <option value="bugatti">Bugatti</option>
                <option value="buick">Buick</option>
                <option value="cadillac">Cadillac</option>
                <option value="carver">Carver</option>
                <option value="chevrolet">Chevrolet</option>
                <option value="chrysler">Chrysler</option>
                <option value="citroen">Citroen</option>
                <option value="corvette">Corvette</option>
                <option value="dacia">Dacia</option>
                <option value="daewoo">Daewoo</option>
                <option value="daihatsu">Daihatsu</option>
                <option value="daimler">Daimler</option>
                <option value="datsun">Datsun</option>
                <option value="dodge">Dodge</option>
                <option value="donkervoort">Donkervoort</option>
                <option value="ds">DS</option>
                <option value="ferrari">Ferrari</option>
                <option value="fiat">Fiat</option>
                <option value="fisker">Fisker</option>
                <option value="ford">Ford</option>
                <option value="fso">FSO</option>
                <option value="galloper">Galloper</option>
                <option value="honda">Honda</option>
                <option value="hummer">Hummer</option>
                <option value="hyundai">Hyundai</option>
                <option value="infiniti">Infiniti</option>
                <option value="innocenti">Innocenti</option>
                <option value="jaguar">Jaguar</option>
                <option value="jeep">Jeep</option>
                <option value="josse">Josse</option>
                <option value="kia">Kia</option>
                <option value="lada">Lada</option>
                <option value="lamborghini">Lamborghini</option>
                <option value="lancia">Lancia</option>
                <option value="land-rover">Land Rover</option>
                <option value="landwind">Landwind</option>
                <option value="lexus">Lexus</option>
                <option value="lincoln">Lincoln</option>
                <option value="lotus">Lotus</option>
                <option value="marcos">Marcos</option>
                <option value="maserati">Maserati</option>
                <option value="maybach">Maybach</option>
                <option value="mazda">Mazda</option>
                <option value="mclaren">McLaren</option>
                <option value="mega">Mega</option>
                <option value="mercedes-benz">Mercedes</option>
                <option value="mercury">Mercury</option>
                <option value="mg">MG</option>
                <option value="mini">Mini</option>
                <option value="mitsubishi">Mitsubishi</option>
                <option value="morgan">Morgan</option>
                <option value="morris">Morris</option>
                <option value="nissan">Nissan</option>
                <option value="noble">Noble</option>
                <option value="opel">Opel</option>
                <option value="peugeot">Peugeot</option>
                <option value="pgo">PGO</option>
                <option value="pontiac">Pontiac</option>
                <option value="porsche">Porsche</option>
                <option value="princess">Princess</option>
                <option value="renault">Renault</option>
                <option value="rolls-royce">Rolls-Royce</option>
                <option value="rover">Rover</option>
                <option value="saab">Saab</option>
                <option value="seat">Seat</option>
                <option value="skoda">Skoda</option>
                <option value="smart">Smart</option>
                <option value="spectre">Spectre</option>
                <option value="ssangyong">SsangYong</option>
                <option value="subaru">Subaru</option>
                <option value="suzuki">Suzuki</option>
                <option value="talbot">Talbot</option>
                <option value="tesla">Tesla</option>
                <option value="think">Think</option>
                <option value="toyota">Toyota</option>
                <option value="triumph">Triumph</option>
                <option value="tvr">TVR</option>
                <option value="volkswagen">Volkswagen</option>
                <option value="volvo">Volvo</option>
                <option value="yugo">Yugo</option>
            </select>

            <label for="model" class="animation a3"></label>
            <select name="model" id="model" class="form-field animation a3">
                <option value="">Select your car model (e.g. Ford)</option>
            </select>

            <label for="year" class="animation a4"></label>
            <select name="year" id="year" class="form-field animation a4">
                <option value="">Select your car year</option>
            </select>

            <button class="formBtn animation a5">Next</button>
        </form>

        <!-- TODO User personal info -->
        <!-- <form class="form animation a2">
            <input type="text" name="address" id="address" placeholder="Address" class="form-field animation a2"
                autofocus />
            <label for="address" class="animation a2"></label>

            <select name="country" id="country" class="form-field animation a3">
                <option value="">Country</option>
            </select>
            <label for="country" class="animation a3"></label>

            <select name="city" id="city" class="form-field animation a4">
                <option value="">City</option>
            </select>
            <label for="city" class="animation a4"></label>

            <select name="area" id="area" class="form-field animation a5">
                <option value="">Area</option>
            </select>
            <label for="area" class="animation a5"></label>

            <button class="formBtn animation a6">Submit</button>
        </form> -->

        <!-- TODO Center info -->


        <!-- TODO Center service -->

    </div>
</body>

</html>