<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="esStyle.css">
</head>

<body>
    <main class='covidUnivers'>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png">
        </span>
        <span class='covid'><img src="./../public/assets/covid.png"></span>
        <span class='covid'><img src="./../public/assets/covid.png"></span>
        <span class='covid'><img src="./../public/assets/covid.png"></span>
        <span class='covid'><img src="./../public/assets/covid.png"></span>
        <span class='covid'><img src="./../public/assets/covid.png"></span>
        <article class='covidHelpMsg'>
            <p>Damnit stranger,</p>
            <p>You got lost in the <strong>404 Covid</strong> galaxy.</p>
            <p>
                <button>Put your mask & Go back.</button>
            </p>
        </article>
    </main>

</body>

</html>