@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Open+Sans&family=Oswald&family=Pacifico&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* TODO form 1 */
.logWrap{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: url(../public/assets/bg2.png)no-repeat center;
    background-size: cover;
    transition: 1s;
}

/* ? left side form*/
.logLeft{color: white; transition: 1s;}
.logLeft h1,.logLeft h1 span, .logo, .logo span{
    font-family: 'Leckerli One', cursive;
    color: #1A73E8;
    font-size: 85px;
    font-weight: 100;
    margin: auto;
}
.logLeft h1 span, .logo span{
    background-color: white;
    border-radius: 50%;
    padding: 5px 15px;
}
.logLeft h1, .logo {font-family: 'Pacifico', cursive;}
.logLeft h2{font-size: xxx-large; margin: 15px auto;}
.logLeft p{margin: auto; font-size: x-large;}
.logLeft p span{font-weight: 900;}
.logLeft p.pBook, .form1Wrap p {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}
/* ? right side form */
.form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 45px;
    border-radius: 10%;
    background:white;
    color: #1A73E8;
    transition: .2s;
}
.form h2 {
  font-weight: 300;
}
.form .lFTitle{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
}
.form .form-field {
    height: 46px;
    padding: 0 16px;
    border:none;
    border-bottom: 3px solid #1A73E8;
    box-shadow: 0px 0px 2px #1A73E8;
    border-radius: 4px;
    outline: 0;
    transition: .2s;
    margin-bottom: 15px;
}
.form .form-field:focus {
    border-color: #0f7ef1;
}
.form > .formBtn {
    padding: 12px;
    border: 0;
    background-color: #1A73E8; 
    border-radius: 3px;
    color: #fff;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form > .formBtn::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 30%;
    top: 45%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}
.form > .formBtn:hover::after {
    transform: translate(5px, -50%);
    opacity: 1;
}
#or{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #c5c5c5;
    font-size: 14px;
    margin:5px 0;
}
#or span{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 1px solid #c5c5c5;
}
#or span#s1{margin-right: 5px;}
#or span#s2{margin-left:5px;}
.form span, .form span a{
  text-align: center;
  text-decoration: none;
  color: #1A73E8;
}
.form span{color: #253031;}

/*TODO registration */
.form1Wrap, .contWrap{
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  text-align: center;
  background-color: #00072D;
  color: white;
  transition: 1s;
}
.form1Wrap .form, .contWrap .form{margin: auto;}
.form1Wrap h2{font-size: xx-large; margin: auto;}
.form1Wrap .let{margin-top: 1%;}

/* TODO contactUs */
.contWrap{background-color: #00072D; padding: 0%;}
.contWrap .logo{
  font-size: 50px;
  margin: 0 0 1% 0;
  color: #1A73E8;
}
.contWrap .logo span{  font-size: 50px;}
.contWrap .form{
  border-radius: 65px;
  width: 60%;
  padding: 3% 3%;
}
.contWrap h2{
  text-align: left !important;
  font-size: xx-large;
  font-weight: 800;
  text-transform: none !important;
}
.contWrap p {
  text-align: left;
  margin: auto 0;
  color: #253031;
  font-size: larger;
}
.contWrap .labels{
  display: flex;
  margin: 0 auto;
  padding: 3% 5%;
  flex-direction: column;
}
.contWrap label{
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  text-align: left;
  color: #253031;
  margin: 15% 0;
}
.contWrap .form textarea{height: auto; margin-bottom: 0;}
.contWrap .form .formBtn{
  width: 25%;
  margin: auto;
  background-color: #FC9D6B;
  border-radius: 5px;
  border-bottom: 3px solid white;
  box-shadow: 0px 2px 9px #FC9D6B;
}
.contWrap .form .formBtn:hover{
  color: #FC9D6B;
  background-color: #fff;
  border-bottom: 3px solid #FC9D6B;
}

/*TODO animation */
.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.a1 {animation-delay: 1s;}
.a2 {animation-delay: 1.1s;}
.a3 {animation-delay: 1.2s;}
.a4 {animation-delay: 1.3s;}
.a5 {animation-delay: 1.4s;}
.a6 {animation-delay: 1.5s;} 
@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}