<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- ? nav -->
    <nav class="tr">
        <div class="parts">
            <a class="logo"><span>W</span>arsha</a>
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
        </div>
        <div class="parts">
            <div><a href="">Warsha for Centers</a></div>
            <div><a href="">Login</a></div>
            <button href="">Sign up</button>
        </div>
    </nav>

    <!-- ? joined nav -->
    <!-- <nav class="white">
        <div class="parts">
            <a class="logo"><span>W</span>arsha</a>
        </div>
        <div class="parts">
            <div><a href="">Home</a></div>
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
            <div class="navUser">fName</div>
        </div>
    </nav> -->

</body>

</html>